@import url('https://fonts.googleapis.com/css2?family=Work+Sans:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,900&display=swap');

*{
    font-family: 'Work Sans', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html{
    scroll-behavior: smooth;
    scroll-padding: 10vh;
}

.header{
    /*background-image: radial-gradient(circle at 0% 0%, #ff9fea 0, #ff92e8 16.67%, #f581e2 33.33%, #d86cd8 50%, #b959cf 66.67%, #9c4cc9 83.33%, #8045c7 100%); */
    width: 100%;
    height: 100vh;
}

.navbar{
    width: 100%;
    height: 10vh;
    border-bottom: 1px solid lightgray;
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #fff;
    position: sticky;
    padding: 0 5%;
}

.menu{
    display: flex;
    gap: 0 2em;
    list-style: none;
}

.item{
    text-decoration: none;
    font-size: 1rem;
    color: #16163f;
    transition: var(--trans,color .3s ease 0s);
    position: relative;
    padding: 0 0 5px 0;
    
}

.item:before {
    position: absolute;
    bottom: 0;
    content: "";
    display: block;
    width: 0;
    height: 3px;
    background-color: #9e3ffd;
    transition: all .3s;
  }

  .item:hover:before {
    width: 100%;
  }

.uno:before {
    left: 0;
  }

.item:hover{
    color: #9e3ffd;
}

.active{
    color: #ba77fe;
}

.logo{
    font-size: 1.5em;
    font-weight: bold;
    color: #16163f;
    cursor: pointer;
}

.boton-menu{
    text-decoration: none;
    padding: 13px 20px;
    background-color: #9e3ffd;
    color: #fff;
    border-radius: 50px;
    transition: var(--trans1,border-color .3s ease 0s,background-color .3s ease 0s);
    font-size: 1rem;
}

.boton-menu:hover{
    background-color: #16163f;
}

.caja-burguer{
    width: 20px;
    height: 20px;
    display: none;
}

.menu-burguesa{
    max-width: 100%;
    cursor: pointer;
    transition: all .2s ease-in-out;
    
}


.sociales{
    width: 30px;
    display: none;
}

.icono{
    max-width: 100%;
    cursor: pointer;
}










.section{
    width: 100%;
    height: 100vh;
    background-color: rgba(211, 211, 211, 0.24);
    display: flex;
    justify-content: center;
    align-items: center;
}

.caja-header1, .caja-header2{
    width: 50%;
    height: 80vh;
}

.caja-header1{
    display: flex;
    flex-direction: column;
}

.titulo{
    font-size: 4em;
    margin: 15% 15% 4% 10% ;
    word-wrap: break-word;
}

.parrafo-titulo{
    font-size: 1.3rem;
    margin-left: 10%;
    margin-bottom: 3%;
    width: 80%;
    
}

.boton-titulo{
    margin-left: 10%;
    width: 170px;
}



.caja-header2{
    display: flex;
    justify-content: center;
}


.foto-h{
    max-width: 100%;
}

.section1{
    width: 100%;
    height: auto;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.caja-caja2{
    margin: 2% 0;
    display: block;
}

.services{
    width: 80%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 2%;
    margin-bottom: 5%;
}

.tarjetas{
    width: 350px;
    height: 450px;
    border: 1px solid lightgray;
    margin: 2%;
    background-color: rgba(211, 211, 211, 0.103);
    border-radius: 10px;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.3s cubic-bezier(.25,.8,.25,1);
}

.tarjetas:hover{
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
  }
  
.nombre-servicio{
    padding: 3%;
    text-align: center;
    color: #16163f;
}

.cajafoto-tarjeta{
    width: 100%;
    height: 60%;
    margin-bottom: 3%;
}

.foto-tarjeta{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    transition: all 0.3s ease-in-out
}


.texto-tarjeta{
    padding: 0 5%;
    color: #16163f;
    margin-bottom: 3%;
}

.bt{
    display: block;
    text-decoration: none;
    color: #16163f;
    padding: 3%;
    width: 30%;
    margin-left: 5%;
    border: 1px solid #9e3ffd;
    border-radius: 50px;
    text-align: center;
    transition: var(--trans1,border-color .3s ease 0s,background-color .3s ease 0s);
}

.bt:hover{
    background-color: #9e3ffd;
    color: #fff;
}

.section2{
    width: 100%;
    height: auto;
    background-color: #f4f4f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 5%;
    gap: 2%;
    flex-wrap: wrap-reverse;
}

.caja1-section2, .caja2-section2{
    width: 600px;
    height: 70vh;
}

.titulo-acercade{
    text-align: center;
    font-size: 2rem;
    margin-bottom: 2%;
    color: #16163f;
}

.parrafo-acercade{
    color: #16163f;
    font-size: 1.1em;
    text-align: justify;
    padding: 2%;
}

.foto-acercade{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: 5px;
    box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
    
}

.section3{
    width: 100%;
    height: 90vh;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.caja-testimonios{
    width: 80%;
    height: 80%;
    border: 1px solid;
    background-color: #b26bf8;
}

.titulo-section3{
    font-size: 2rem;
    color: #16163f;
}


.section4{
    width: 100%;
    height: 700px;
    background-color: #c694f8;;
}

.titulo-2{
    font-size: 2rem;
    color: #16163f;
    text-align: center;
    
}






























@media screen and (max-width:935px){
    
    .titulo{
        font-size: 4rem;
        margin-top: 10px;
        color: #16163f;
    }
    
    .parrafo{
        font-size: 2rem;
        color: #16163f;
    }

    .item, .boton-menu{
        font-size: 0.9rem;
    }

    .boton-menu{
        padding: 10px 12px;
        text-align: center;
    }


}

@media screen and (max-width:840px){
    
    .navbar{
        display: flex;
        position: absolute;
        z-index: 999;

    }

    .caja-header1{
        position: absolute;
    }

    .menu{
        position: absolute;
        display: block;
        top: 10vh;
        left: -100%;
        width: 60%;
        height: 90vh;
        background-color: #fff;
        transition: all .3s ease-in-out;
        box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    }

    .item{
        display: block;
        font-size: 1.1rem;
        margin-left: 10%;
        margin-top: 15px;
        transition: all .2s ease-in-out;
        color: #16163f;
        padding: 10px;
        width: 80%;
        font-weight: 500;
    }


    .item:hover{
        transform: scale(1.1);
        color: #9e3ffd;   
    }

    .caja-burguer{
        display: block;
    }

    .menu-burguesa:hover{
        filter: invert(39%) sepia(96%) saturate(5032%) hue-rotate(257deg) brightness(102%) contrast(98%);
    }

    .boton-menu{
        display: none;
    }
    
    .cambio{
        left: 0;
    }
    
    .opacidad{
        
        background-color: red;
    }

    .caja-header2{
        display: none;
        
    }

    .caja-header1{
        width: 100%;
        margin-top: 7%;
    }


    .titulo{
        font-size: 3.7em;
        margin-top: 10%;
        margin-bottom: 4%;
        margin-left: 10%;
    }
    
    .parrafo-titulo{
        font-size: 1.3rem;
        margin-left: 10%;
        margin-bottom: 3%;
        width: 80%;
        
    }
    
    .boton-titulo{
        margin-left: 10%;
        width: 170px;
        margin-top: 2%;
        display: block;
        padding: 13px 20px;
        text-align: center;
    }

    .coco{
        transform: scale(1.1);
        
    }
    
    .siguenos{
        color: #16163f;
    }

    .sociales{
        display: flex;
        width: 80%;
        margin: 50% 0 0 10%;
        flex-direction: column;
    }

    .cajasocial1{
        margin-bottom: 5%;
    }

    .cajasocial2{
        display: block;
    }

    .icono{
        width: 30px;
    }

    .icono:first-child:hover{
        filter: invert(34%) sepia(31%) saturate(2626%) hue-rotate(184deg) brightness(103%) contrast(94%);
    }

    .icono:nth-child(2n):hover{
        filter: invert(52%) sepia(67%) saturate(377%) hue-rotate(73deg) brightness(99%) contrast(95%);
    }

    .icono:nth-child(3n):hover{
        filter: invert(56%) sepia(85%) saturate(2689%) hue-rotate(166deg) brightness(94%) contrast(104%);
    }

    .icono:nth-child(4n):hover{
        filter: invert(15%) sepia(54%) saturate(6999%) hue-rotate(336deg) brightness(101%) contrast(100%);
    }

    .icono:nth-child(5n):hover{
        filter: invert(27%) sepia(46%) saturate(5229%) hue-rotate(198deg) brightness(99%) contrast(80%);
    }

    

    /*
    FACEBOOK
    filter: invert(34%) sepia(31%) saturate(2626%) hue-rotate(184deg) brightness(103%) contrast(94%);

    INSTAGRAM
    gradient(circle at 30% 107%, #fdf497 0%, #fdf497 5%, #fd5949 45%,#d6249f 60%,#285AEB 90%);

    TWETTER
    filter: invert(56%) sepia(85%) saturate(2689%) hue-rotate(166deg) brightness(94%) contrast(104%);

    LINKEDIN
    filter: invert(27%) sepia(46%) saturate(5229%) hue-rotate(198deg) brightness(99%) contrast(80%);


    */
}